/* src/index.css ou qualquer outro arquivo CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.green-button a {
  @apply flex items-center justify-center w-[200px] h-[40px] leading-[40px] text-[16px] font-sans text-white border-2 border-[#01cc01] bg-[#01cc01] tracking-[2px] relative transition-all duration-300;
}

.green-button span {
  @apply relative z-10;
}

.green-button a::after {
  @apply absolute content-[""] top-0 left-0 w-0 h-full bg-white transition-all duration-300;
}

.green-button a:hover {
  @apply text-[#01cc01];
}

.green-button a:hover::after {
  @apply w-full;
}

/* No seu arquivo CSS (por exemplo, styles.css) */

.custom-h2{
  @apply text-slate-600 text-3xl font-bold pb-10;
}

.custom-services-h3{
  @apply text-slate-600 text-2xl font-bold;
}

.custom-services-h4{
  @apply text-slate-600 text-xl font-bold pb-10;
}

.service{
  @apply flex flex-col gap-10 items-center;
}

.service-sec{
  @apply gap-10 flex items-center;
}

.service-sec > div{
  @apply border bg-slate-700;
}

